resources:
- ../base
nameSuffix: -dev
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app: stormpiper-dev
images:
- name: gcr.io/tacoma-app/stormpiper-pod
  newName: gcr.io/tacoma-app/stormpiper-pod
  newTag: edge
- name: gcr.io/tacoma-app/bg_worker
  newName: gcr.io/tacoma-app/bg_worker
  newTag: edge
- name: gcr.io/tacoma-app/redis
  newName: gcr.io/tacoma-app/redis
  newTag: edge
patches:
- path: secrets.yml
  target:
    group: apps
    kind: Deployment
    name: stormpiper
    version: v1
- path: secrets.yml
  target:
    group: apps
    kind: Deployment
    name: worker
    version: v1
- path: secrets.yml
  target:
    group: apps
    kind: Deployment
    name: beat
    version: v1
- patch: |-
    - op: replace
      path: /spec/targetRef/name
      value: redis-dev
  target:
    kind: VerticalPodAutoscaler
    name: redis
    version: v1
- patch: |-
    - op: replace
      path: /spec/targetRef/name
      value: beat-dev
  target:
    kind: VerticalPodAutoscaler
    name: beat
    version: v1
- patch: |-
    - op: replace
      path: /spec/targetRef/name
      value: worker-dev
  target:
    kind: VerticalPodAutoscaler
    name: worker
    version: v1
- patch: |-
    - op: replace
      path: /spec/targetRef/name
      value: stormpiper-dev
  target:
    kind: VerticalPodAutoscaler
    name: stormpiper
    version: v1
