# .coveragerc to control coverage.py
[run]
source = stormpiper
branch = True

[report]
ignore_errors = True
skip_empty = True
omit =
    main.py
    start*.py
    pre-start*.py
    *bg_*
    **/_no_git*/*
    **/tests/data/*
