# .coveragerc to control coverage.py
[run]
source = stormpiper
branch = True
concurrency =
    thread
    greenlet

[report]
ignore_errors = True
skip_empty = True
omit =
    **/main.py
    **/start*.py
    **/pre-start*.py
    **/initial_data.py
    **/bg_*.py
    **/_no_git*/*
    **/_no_git*
    **/tests/data/*
