
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#header-panel{
  position: fixed;
	z-index: 10;
	top: 0;
  bottom: 0;
	right: 0;
  overflow-x: hidden;
  overflow-y:hidden;
  height: 15%;
  width: 100%;
  background: rgb(36, 21, 170);
}

#control-panel {
	position: fixed;
	z-index: 9;
	top: 10%;
  left: 8%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 75%;
  width: 25%;
  /* background: rgba(255, 255, 255, 1);
  border-radius: 2px; */

}

#control-panel-hidden{
  position: fixed;
	z-index: 9;
	top: 10%;
  left: 8%;
  overflow-x: hidden;
  overflow-y: hidden;
  height:5%;
  width: 3%;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;

}

.layer-controls {
	border: groove 2px #fff;
  border-left: none;
  border-right: none;
  padding: 8px 0;
}

.deck-tooltip {
  z-index:8 !important;
  left:100px;
  top:100px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 6px !important;
  margin: 8px;
  max-width: 300px;
  font-size: 10px;
}

#prj-stat-panel {
	position: fixed;
	z-index: 9;
	top: 10%;
  left: 58%;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  width: 40%;
  text-align:center;
  /* background: rgba(255, 255, 255, 1); */
  /* border-radius: 2px; */

}

#prj-stat-panel-hidden{
  /* transition-property: height,width,left;
  transition-duration: 500ms; */
  position: fixed;
	z-index: 9;
	top: 10%;
  left: 95%;
  /* left: 125%; */
  overflow-x: hidden;
  overflow-y: hidden;
  height:5%;
  width: 3%;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
#verification-panel {
	position: fixed;
	z-index: 9;
	top: 30%;
  left: 25%;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  width: 50%;
  text-align:center;
  /* background: rgba(255, 255, 255, 1); */
  /* border-radius: 2px; */

}

#verification-panel-hidden{
  /* transition-property: height,width,left;
  transition-duration: 500ms; */
  position: fixed;
	z-index: 9;
	top: 30%;
  left: -50%;
  /* left: 125%; */
  overflow-x: hidden;
  overflow-y: hidden;
  height:5%;
  width: 3%;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
#results-panel {
  transition-property: top;
  transition-timing-function: linear;
  transition-duration: 500ms;
	position: fixed;
	z-index: 9;
	top: 9%;
  left: 6%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 91%;
  width: 94%;
  text-align:center;
  /* background: rgba(255, 255, 255, 1); */
  /* border-radius: 2px; */

}

#results-panel-hidden{
  transition-property: top;
  transition-timing-function: linear;
  transition-duration: 500ms;
	position: fixed;
	z-index: 9;
	top: 150%;
  left: 6%;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  width: 94%;
  text-align:center;
}

.zero-padding{
  padding:0px !important;
}

.zero-margin{
  margin:0px !important;
}

.lg-margin{
  margin:5em;
}

.flex-row{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.flex-column{
  display:flex;
  flex-direction:column;
  align-content: center;
  flex-wrap:wrap;
  align-items:center;
}


/* Authentication Form Styles (reset, verify, forgot, login, register) */
.flex{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.auth-form{
  width:100%;
  height:50%;
}

.auth-form-body{
  width:30%;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  background:rgba(249, 247, 247, 0.8);
  margin:50px;
  padding:10px;
}

.form-label{
  font-size: 10px;
  margin: 5px 20px;
}

.required::after{
  content:"*";
  color: red;
}

.form-input{
  margin: 5px 20px;
  width:90%;
}

.auth-form-row{
  text-align:start;
  width:100%;
}

.result-header, .err-list-header{
  padding: 0em 1em;
}

.err-msg{
  color:red
}

/* input .auth{
  width:50%
} */

.auth-button-bar{
  padding: 10px 0px;
}
