aiofiles
aiohttp
aiosqlite
asyncpg

tenacity
python-dotenv
python-multipart
PyYAML
requests
brotli
brotli-asgi
   
earthengine-api

fastapi-users[sqlalchemy]>=10.0.7

fiona
GeoAlchemy2>=0.12.0
geopandas>=0.10.2,<0.12.0
shapely>=1.8.1,<2.0.0
pyproj

pydot
graphviz
networkx

scipy
numpy
pandas
matplotlib

passlib[bcrypt]
psycopg2-binary
SQLAlchemy>=1.4.36,<2.0.0
alembic

celery[redis]

watchfiles
fastapi==0.79.0
starlette
pydantic
orjson
uvicorn
watchgod
Jinja2
email-validator

https://github.com/Geosyntec/nereid/archive/v0.6.0.zip
