fastapi>=0.75.0,<0.76.0
jinja2
aiofiles
brotli-asgi
python-dotenv
aiohttp
orjson==3.6.5
# requests
uvicorn[standard]

pandas
matplotlib
scipy

geopandas
pygeos

sqlalchemy
geoalchemy2
# alembic
asyncpg
aiosqlite

passlib[bcrypt]
fastapi-users[sqlalchemy2]
python-multipart


earthengine-api

https://github.com/Geosyntec/nereid/archive/v0.5.3.zip
