aiofiles
aiohttp
aiosqlite
asyncpg

tenacity
python-dotenv
python-multipart
PyYAML
requests
brotli
brotli-asgi

earthengine-api

fastapi-users
fastapi-users-db-sqlalchemy

fiona
GeoAlchemy2
geopandas
shapely
geojson-pydantic
pyproj
rtree

# pydot
# graphviz
networkx

scipy
numpy
pandas
matplotlib

pwdlib
# passlib[bcrypt]
psycopg2-binary
SQLAlchemy
alembic

celery[redis]

fastapi #<0.99.0
starlette
pydantic #<2.0.0
httpx
orjson
uvicorn
Jinja2
email-validator
watchfiles
asgi-ratelimit

pint
nereid-engine @ https://github.com/Geosyntec/nereid/archive/v0.10.2.zip
setuptools
wheel

pymcdm>=1.1.0

altair>=5.0.0
