aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
anyio==3.5.0
asgiref==3.5.1
async-timeout==4.0.2      
asyncpg==0.25.0
attrs==21.4.0
bcrypt==3.2.0
Brotli==1.0.9
brotli-asgi==1.1.0        
cachetools==5.0.0
certifi==2021.10.8        
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1      
cligj==0.7.2
cryptography==37.0.1      
cycler==0.11.0
dnspython==2.2.1
earthengine-api==0.1.307
email-validator==1.1.3
fastapi-users[sqlalchemy]==10.0.6
Fiona==1.8.21
fonttools==4.33.3
frozenlist==1.3.0
future==0.18.2
GeoAlchemy2>=0.9.3,<0.11.0
geopandas==0.10.2
google-api-core==2.7.2
google-api-python-client==1.12.11
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httplib2==0.20.4
httplib2shim==0.0.3
httptools==0.4.0
idna==3.3
Jinja2==3.1.2
kiwisolver==1.4.2
makefun==1.13.1
MarkupSafe==2.1.1
matplotlib==3.5.1
multidict==6.0.2
munch==2.5.0
https://github.com/Geosyntec/nereid/archive/v0.5.3.zip
networkx==2.8
numpy==1.22.3
orjson==3.6.8
packaging==21.3
pandas==1.4.2
passlib==1.7.4
Pillow==9.1.0
Pint==0.19.2
protobuf==3.20.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
pydot==1.4.2
pygeos==0.12.0
PyJWT==2.3.0
pyparsing==3.0.8
pyproj==3.3.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rsa==4.8
scipy==1.8.0
Shapely==1.8.1.post1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.36
typing_extensions==4.2.0
uritemplate==3.0.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
yarl==1.7.2
celery[redis]
watchfiles
fastapi==0.78.0
starlette==0.19.1
tenacity
alembic
