aiofiles
aiohttp
aiosqlite
asyncpg

tenacity
python-dotenv
python-multipart
PyYAML
requests
brotli
brotli-asgi

earthengine-api

fastapi-users[sqlalchemy]

fiona
GeoAlchemy2
geopandas
shapely
geojson-pydantic
pyproj
rtree

pydot
graphviz
networkx

scipy
numpy
numpy-financial
pandas
matplotlib

passlib[bcrypt]
psycopg2-binary
SQLAlchemy>=1.4.36,<2.0.0
alembic

celery[redis]

fastapi==0.88.0
starlette
pydantic
orjson
uvicorn
Jinja2
email-validator
watchfiles
asgi-ratelimit

Pint==0.19.2
nereid @ https://github.com/Geosyntec/nereid/archive/v0.7.0.zip

pymcdm==1.1.0
