{% extends "base.html" %} {% block head %} {{ super() }}

<style>
  .center {
    display: grid;
    justify-items: center;
    padding: 30px;
  }

  form {
    margin-block-end: 0;
    display: grid;
    /* grid-column: 2; */
    grid-auto-rows: auto;
    row-gap: 5px;
  }
  .form-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  label {
    /* padding-right: 10px; */
    /* text-align: right; */
    text-align: left;
  }
  input {
    border: 1px solid dimgray;
    border-radius: 6px;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt cornflowerblue;

    /* outline-color: cornflowerblue; */
    /* outline-offset: -3px; */
  }
  .btn {
    border-radius: 6px;
    width: 6rem;
    justify-self: end;
  }
  .btn.btn-submit {
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
  }
  .db-notes {
    /* grid-column: 2; */
    padding: 30px;
    width: 100%;
  }
  .title {
    margin-bottom: 1rem;
  }
</style>

{% endblock %} {% block content %}

<div class="center">
  <div class="title"><h2>Login</h2></div>
  <form id="LoginForm" method="post">
    <div class="form-group">
      <label for="username">Username (email): </label>
      <input type="text" name="username" required />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" required />
    </div>

    <input class="btn btn-submit" type="submit" value="Login" />
    <!-- <input type="hidden" name="csrf_token" required value="{{ csrf_token }}" /> -->
  </form>
  <div class="db-notes">
    <div id="error_msgs"></div>
  </div>
</div>

{% endblock %} {% block javascript %} {{ super() }}

<script>
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  const submitLoginUrl = "{{ str(request.url_for('login:post_login')) }}";
  const redirectRoute = "{{ str(request.url_for('home')) }}";
  const form = document.getElementById("LoginForm");
  var err_div = document.getElementById("error_msgs");

  form.addEventListener("submit", (evt) => {
    evt.preventDefault();
    const formData = new FormData(evt.target);
    postLoginForm(submitLoginUrl, formData);
  });
  async function postLoginForm(url, data) {
    const csrftoken = getCookie("csrftoken");
    console.log("token:", csrftoken);
    const response = await fetch(url, {
      credentials: "same-origin",
      headers: {
        "X-CSRFToken": csrftoken,
      },
      method: "POST",
      body: data,
    }).then((resp) => {
      if (resp.status == 200) {
        console.log("redirect on success");
        window.location.href = redirectRoute;
      } else {
        console.warn("login failure", resp);
        err_div.innerHTML = `
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Login Failed.
              </div>
              `;
      }
    });
    return response;
  }
</script>
{% endblock %}
