{% extends "base.html" %} {% block head %} {{ super() }}

<style>
  .center {
    display: grid;
    justify-items: center;
    padding: 30px;
  }

  form {
    margin-block-end: 0;
    display: grid;
    /* grid-column: 2; */
    grid-auto-rows: auto;
    row-gap: 5px;
  }
  .form-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  label {
    /* padding-right: 10px; */
    /* text-align: right; */
    text-align: left;
  }
  input {
    border: 1px solid dimgray;
    border-radius: 6px;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt cornflowerblue;

    /* outline-color: cornflowerblue; */
    /* outline-offset: -3px; */
  }
  input.no-match,
  input.no-match:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt firebrick;
  }
  .btn {
    border-radius: 6px;
    margin: 1rem, 1rem, 1rem, 1rem;
    justify-self: end;
  }
  .btn.btn-submit {
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
  }
  .db-notes {
    /* grid-column: 2; */
    padding: 30px;
    width: 100%;
  }
  .title {
    margin-bottom: 1rem;
  }
</style>

{% endblock %} {% block content %}

<div class="center">
  <div class="title"><h2>Login</h2></div>
  <form id="PwdResetForm" method="post">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input id="pwd" type="password" name="password" required />
    </div>

    <div class="form-group">
      <label for="_verify_password">Re-Enter New Password:</label>
      <input
        id="verify_pwd"
        type="password"
        name="_verify_password"
        required
        oninput="equalsPwd()"
      />
    </div>

    <input class="btn btn-submit" type="submit" value="Submit" />
  </form>
  <div class="db-notes">
    <div id="error_msgs"></div>
  </div>
</div>

{% endblock %} {% block javascript %} {{ super() }}

<script>
  let SUBMIT_LOCK = true;
  const equalsPwd = () => {
    const pwd = document.getElementById("pwd");
    const v_pwd = document.getElementById("verify_pwd");

    let pwd_value = pwd?.value,
      val_value = v_pwd?.value;

    if (pwd_value !== val_value) {
      console.log("no match!", `${pwd_value}, ${val_value}`);
      v_pwd.classList.add("no-match");
      SUBMIT_LOCK = true;
    } else {
      console.log("MATCH!");
      v_pwd.classList.remove("no-match");
      SUBMIT_LOCK = false;
    }
  };
  const submitResetUrl = "{{ str(request.url_for('reset:reset_password')) }}";
  const token = "{{ token }}";
  const redirectRoute = "{{ str(request.url_for('login:get_login')) }}";

  const form = document.getElementById("PwdResetForm");
  var err_div = document.getElementById("error_msgs");

  form.addEventListener("submit", (evt) => {
    evt.preventDefault();
    if (SUBMIT_LOCK) {
      console.warn("Passwords do not match.");
      return;
    }
    const formData = new FormData(evt.target);
    formData.delete("_verify_password");
    formData.append("token", token);
    postLoginForm(submitResetUrl, JSON.stringify(Object.fromEntries(formData)));
  });
  async function postLoginForm(url, data) {
    const response = await fetch(url, {
      credentials: "same-origin",
      method: "POST",
      body: data,
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
    });

    const response_json = await response.json();

    if (response.status == 200) {
      console.log("redirect on success");
      window.location.href = redirectRoute;
    } else {
      console.warn("login failure", response, response_json);
      err_div.innerHTML = `
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Login Failed.
              </div>
              `;
    }

    return response;
  }
</script>
{% endblock %}
