.form-body{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1em;
}

.form-label{
    font-size: 10px;
    margin: 5px 20px;
}

.required::after{
    content:"*";
    color: red;
}

.form-input{
    /* max-width: 50px; */
    margin: 5px 20px;
    width:80%;
}

.form-row{
    text-align:start;
}

.result-header, .err-list-header{
    padding: 0em 1em;
}


ul {
    margin-top:none;
    padding-right:1em;
}
