/* #layer-toggler-title::after{
    content:"[-]";
    position:relative;
    left: 10px;
} */

/* #layer-toggler-title-hidden::after{
    content:"[+]";
    position:relative;
    left: 10px;
} */

#layer-toggler-title{
    display:flex;
    justify-content: center;
}

#layer-toggler-title-hidden{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2px;
}

#layer-toggler-title-hidden:hover,
#cancel-icon:hover
{
    cursor:pointer
}

.cancel-container{
    /* display:flex; */
    position:absolute;
    justify-content: center;
    left:80%;
    top:0%
    /* min-width: 25%; */
}



