.flex{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.login-form{
    width:100%;
    height:50%;
}

.login-form-body{
    width:30%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background:rgba(249, 247, 247, 0.8);
    margin:50px;
    padding:10px;
}

.form-label{
    font-size: 10px;
    margin: 5px 20px;
}

.required::after{
    content:"*";
    color: red;
}

.form-input{
    margin: 5px 20px;
    width:80%;
}

.login-form-row{
    text-align:start;
    width:100%;
}

.result-header, .err-list-header{
    padding: 0em 1em;
}

.err-msg{
    color:red
}

/* input .login{
    width:50%
} */

.login-button-bar{
    padding: 10px 0px;
}

.login-container{
    /* background-image:url(../assets/img/TacomaLogoSM256.jpeg); */
    width:100%;
    height:100%;
}
