#priority-info {
	position: fixed;
	z-index: 9;
	top: 10%;
  left: 8%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 75%;
  width: 25%;
}

#priority-score-table{
  position: absolute;
	z-index: 9;
	top: 70%;
  left: 40%;
  height: auto;
  width: 25%;
}
